body {
  background-color: #eee;
}

#main {
  width: 800px;
  height: 500px;
  border: 1px solid gray;
  background-image: url(bg.png);
}

.test-sq {
  width: 50px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
  cursor: pointer;
}

.timer-wrapper {
  position: absolute;
  left: 100px;
  top: 400px;
}

.timer-wrapper .label {
  color: white;
  opacity: 0.3;
  text-align: center;
}

.timer-wrapper .bar {
  width: 500px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.3);
}

.timer-wrapper .bar .value {
  width: 100%;
  /* width re-set from JS */
  height: 32px;
  background-color: rgba(239, 161, 51, 0.3);
}
